services:
  grocy:
    image: lscr.io/linuxserver/grocy:latest
    container_name: grocy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
    ports:
      - "9283:80"
    restart: unless-stopped

  grocy-product-helper:
    image: ghcr.io/raph563/grocy-product-helper-sidecar:latest
    container_name: grocy-product-helper-installer
    depends_on:
      - grocy
    environment:
      - GROCY_CONFIG_PATH=/grocy-config
      - ADDON_SOURCE=/addon/dist/custom_js.html
      - BACKUP_ENABLED=true
      - STATE_FILENAME=producthelper-addon-state.json
      - ADDON_TARGET_FILENAME=custom_js_product_helper.html
      - ACTIVE_TARGET_FILENAME=custom_js.html
      - COMPOSE_SOURCES=custom_js_nerdcore.html,custom_js_nerdstats.html,custom_js_product_helper.html
      - COMPOSE_ENABLED=true
      - REQUIRE_NERDCORE=true
      - NERDCORE_FILENAME=custom_js_nerdcore.html
      - KEEP_ALIVE=true
    volumes:
      - ./config:/grocy-config
    restart: unless-stopped

